:root {
  --color-primary: #2a5d84;
  --color-secondary: #ff7518;
  --color-background: #363636;
  --color-text: #f5f5f5;
  --color-text-dark: #a8a29e;
  --color-neutral-0: #000000;
  --color-neutral-10: #171717;
  --color-neutral-15: #2a2a2a;
  --color-neutral-20: #3c3c3c;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  scroll-behavior: smooth;
  background: linear-gradient(
    to bottom,
    var(--color-neutral-0),
    var(--color-neutral-10)
  );
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--color-neutral-15);
  transform: translateY(-100%);
  z-index: 1000;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

header.visible {
  transform: translateY(0);
}

.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.navbar-text {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.nav-link {
  color: var(--color-text);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 5px;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--color-secondary);
}

.section {
  padding: 40px;
  min-height: 100vh;
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color: var(--color-secondary);
  font-size: 2.5rem;
}

#Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--color-neutral-0),
    var(--color-neutral-10)
  );
}

.home-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 3rem;
  color: var(--color-secondary);
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  text-align: center;
}

#Capitulos {
  background-color: var(--color-neutral-10);
}

.capitulo {
  display: grid;
  background-color: var(--color-neutral-15);
  padding: 20px;
  border-radius: 20px;
  gap: 10px;
  transition: transform 0.3s ease;
}

.capitulo:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.progress-bar {
  background-color: var(--color-neutral-30);
  height: 3px;
  width: 100%;
  border-radius: 15px;
}

.current-progress {
  --progress: 45%;
  background-color: var(--color-secondary);
  height: inherit;
  width: var(--progress);
  border-radius: inherit;
}

.capitulos-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  grid-auto-flow: column;
  justify-content: center;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto;
  height: 20em;
  gap: 8rem;
}

.button {
  display: inline-block;
  background-color: var(--color-secondary);
  color: #fff;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.button:hover {
  background-color: #ff8c3a;
  color: #fff;
  transform: scale(1.05);
  filter: brightness(1.1);
}

footer {
  width: 100%;
  color: var(--color-neutral-40);
  background: linear-gradient(
    to bottom,
    var(--color-neutral-10),
    var(--color-neutral-15)
  );
  font-size: 0.85rem;
}

.footer-link {
  text-decoration: none;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px 40px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-link:hover {
  color: var(--color-primary);
}

.footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-10);
  font-size: 0.8rem;
  padding: 10px 5px 10px 5px;
  font-weight: 100;
}

.slide-in {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1s ease, transform 1s ease;
}

.slide-in.visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-in {
  opacity: 0;
  transform: scale(0.8);
}

.fade-in.visible {
  animation: fade-in 0.8s ease forwards;
}
@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  .section-title {
    font-size: 2rem;
  }

  #Chamada h1 {
    font-size: 2.5rem;
  }

  #Chamada p {
    font-size: 1.2rem;
  }

  .project-image {
    margin-bottom: 40px;
  }

  .text-content {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .section {
    padding: 60px 15px;
  }

  .etapa-card,
  .resultado-card {
    padding: 20px;
  }

  #Chamada h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }

  .section-title {
    font-size: 1.7rem;
  }

  #Chamada h1 {
    font-size: 1.8rem;
  }

  .etapa-card h3,
  .resultado-card h3 {
    font-size: 1.2rem;
  }

  .etapa-card li,
  .text-content p {
    font-size: 1rem;
  }
}
